@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  font-family: "Helvetica Neue", "Arial", "Meiryo", "sans-serif";
  line-height: 1.7;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

.wrapper {
  max-width: 1120px;
  margin: 0 auto;
  /* padding: 0 5%; */
}


/* ----- section title and image ----*/

.sec-title {
  display: inline-block;
  margin: 0;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-size: 4.5rem;
  position: absolute;
  top: 30%;

}

.fixed-bg {
  width: 100%;
  height: 300px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
}


.sec-item {
  padding: 60px 0;
}

/* --- header --- */

.site-title {
  padding: 0 16px;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    filter: drop-shadow(1px 1px 10px #F6F6F6);
}

#header {
  width: 100%;
  min-height: 100vh;
  background-image: url(img/mainvisual.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 10px 0;
  font-style: Arial;
}

nav li {
  margin-left: 40px;
}

nav li a {
  color: #000000;
  font-weight: bold;
}

nav li a:hover {
  color: #fff;
  filter: drop-shadow(1px 1px 2px #121212);
  transition: all  0.3s ease;
}

.menu-responsive {
    visibility: hidden;
  }


/* --- main --- */
.sec-img {
  position: relative;
}

.item-title {
  font-size: 2rem;
  color: #666666;
  font-weight: bold;
  font-style: Arial;
}

.sec-item p {
  font-size: 1.3rem;
  color: #666666;
  font-style: Montserrat;
}

.sec-btn {
    padding: 60px 0;
    margin: 0 auto;
    text-align: center;
}

.btn {
  margin: 0 auto;
  background-color: #000000;
  color: #D9D9D9;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  padding: 14px 36px;

}

.btn:hover {
  background-color: #D9D9D9;
  color: #000000;
  transition: all  0.3s ease;
}


/* --- sightseeing ---- */

#sightseeing {
  margin-top: 20px;
}

#sightseeing .sec-img {
  background-image: url(img/sightseeing-original.jpg);
}


/* --- touren --- */

#touren {
  margin-top: 20px;
}

#touren .sec-img {
  background-image: url(img/touren-original.jpg);
}

/* --- hotels --- */

#hotels {
  margin-top: 20px;
}

#hotels .sec-img {
  background-image: url(img/hotel-original.jpg);
}


/* --- weitere angebote --- */

#weitereangebote {
  margin-top: 20px;
}

#weitereangebote .sec-img {
  background-image: url(img/weitereangebote-original.jpg);
}


/* --- kontakt --- */

#kontakt {
  margin-top: 20px;
}

#kontakt .sec-img {
  background-image: url(img/kontakt-original.jpg);
}


/* --- contact form --- */

.contact {
  width: 80%;
  margin: 10px auto 0;
  padding: 60px 0;
}

label {
  display: block;
  font-style: Arial;
  font-weight: bold;
  color: #666666;
  font-size: 2rem;
}

.input-text {
  margin: 20px 0;
  height: 60px;
  width: 100%;
  padding: 0;
  background-color: #F6F6F6;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 1.5rem;

}
.input-textarea {
  margin: 20px 0;
  height: 140px;
  width: 100%;
  padding: 0;
  background-color: #F6F6F6;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 1.5rem;
}

.contact-submit {
  border: none;
  appearance: none;
}



/* --- footer --- */
#footer {
  height: 223px;
  width: 100%;
  margin: 0 auto;
  background-color: #D9D9D9;
}

#footer .footer-item {
  line-height: 2;
}

#footer .infomation {
  text-align: center;
}

#footer ul  {
   display: flex;
   justify-content: center;
   padding: 0;
   
}

#footer li  {
   margin-left: 10px;
}

#footer .copyright {
  text-align: center;
}


.top-btn {
  display: inline-block;
  position: fixed;
  bottom: 10px;
  right: 10px;
}



/*-------------------------------------------
SP
-------------------------------------------*/
 @media screen and (max-width: 767px) {

  .wrapper {
    padding: 30px 16px 60px 16px;
  }

  .site-title {
    top: 42%;
  }

  .sec-title {
    font-size: 2rem;
    top: 26%;
  }

  .item-title {
    font-size: 1.25rem;
  }

  .fixed-bg {
    height: 126px;
    background-attachment: scroll;
  }

  .btn {
    font-size: 1.25rem;
    margin-top : 0;
  }

  .contact label {
    font-size: 1.25rem;
  }

  /* menu */
  .menu-desktop {
    visibility: hidden;
  }

  .menu-responsive {
    visibility: visible;
  }

  .menu-btn{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    color: #fff;
    border-radius: 20%;
  }

  .menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
  }

  .menu__item{
    width: 100%;
    height: auto;
    padding: .5em 1em;
    font-size: 1.25rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
  }

  .menu__item:hover {
    color: #333;
    background-color: #fff;
    transition: all  0.3s ease;
  }

  /* animation */
  .menu{
  transform: translateX(100vw);
  transition: all .3s linear;
}

  .menu.is-active{
  transform: translateX(0);
}

  
 }